.wrapper {

    margin-right: auto;
    margin-left: auto;
    padding:0px 0px 25px 0px;
    max-width:1100px;

}

header {
    position:fixed;
    Top:0px;
    left:0px;
    width:100%;
    height:100px;
    margin:-20px 0px 10px 0px;
    background-color:white;
       }


/*This is the site-wide navigation*/      
.navigation {
    color:#666666;
    float:right;
    Position:fixed;
    right:25%;
    Top:3%;
    font-family: 'georgia', Times, 'Times New Roman',serif;
    
}

a:link, a:visited {
    color:#666666;
    Font-size:16pt;
    text-decoration: none;
}



h1 {
    color:#4aaaa5;
    Position: relative;
    Left:3%;
    text-align:left;
}


/*This is the green box*/
#name {
    position:relative;
    Left:20%;
    width:300px;
    height:80px;
    background-color:#4aaaa5;
        
}


/*This is the first name text within the green box*/
#name1 {
    Position:relative;
    Left:15%;
    height:75px;
    color:white;
    padding:20px 15px 20px 15px;
}


body {   
    background-image: URL('images/background3.jpg');
    z-index:2;
    margin:125px;
}


/*This is the about me content within the body*/
.about-me {
    Position:relative;
    width:auto;
    background-color:white;
    border-style:solid;
    border-color:rgb(196, 196, 196);
    border-width:.5px;
    
}

.about-me-content {
    position:relative;
    left:2%;
    max-width:1050px;
    right:-10px;
    padding:0px 10px 0px 20px;
    color:#777777;
   
    
}

p {
    padding:0px 10px 0px 10px;
    color:#777777;

}

#headshot {
    Position:relative;
    Left:2%;
    float:left;
    padding:10px;
}

.footer {
    Position:fixed;
    Bottom:0px;
    Left:0px;
    width:100%;
    height:50px;
    background-color:#666666;
    color:white;
    text-align:center;
   
}

hr {
    position:relative;
    width:95%;
    
}

.green-border {
    position:fixed;
    bottom:50px;
    left:0px;
    width:100%;
    height:10px;
    background-color:#4aaaa5;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}