.wrapper {

    margin-right: auto;
    margin-left: auto;
    padding:25px;
    max-width:1100px;

}

body {
    background-color:grey
}

h1 {
    color:red;
    text-align:center;
}

#name {
    Position:static;
    Left:10px;
    max-width:auto;
    color:white;
    background-color: #4aaaa5;
}

.about-me {
    background-color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
}