.wrapper {

    margin-right: auto;
    margin-left: auto;
    padding:25px;
    max-width:1100px;

}

body {   
    background-image: url("assets/images/background.jpg");
    z-index:2;
}

h1 {
    color:red;
    text-align:center;
}

#name {
    Position:static;
    Left:10px;
    max-width:auto;
    color:white;
    background-color: #4aaaa5;
}

.about-me {
    background-color:white;
    border-style:solid;
    border-color:grey;
    border-width:.5px;
}

